!!! 5
html(lang="es")
	head
		meta(name="description", content="Diseño de Muebles en Mexico")
		meta(charset="utf-8")
		title
			| Muebles en Mexico | Muebles Peña
		link(href="css/normalize.css", rel="stylesheet")
		link(href="css/main.css", rel="stylesheet")
		link(href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed', rel='stylesheet', type='text/css')
		script(src="js/modernizr.custom.43686.js")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
	body
		section#main
			header
				article#logotipo
					a(href="#")
						img(src="images/muebles-mexico.png", alt="Muebles Peña", title="Muebles en Hidalgo", width="220")
				section#redeSociales
					article#facebook
						a(href="#")
							img(src="images/facebook.png", alt="Siguenos en Facebook", width="54")
					article#youtube
						a(href="#")
							img(src="images/youtube.png", alt="Suscribete a nuestro canal", width="54")
			nav#menu
				ul
					li
						a(href="#")
							| TOCADORES
					li
						a(href="#")
							| COMEDORES
					li
						a(href="#")
							| VENTANAS
					li
						a(href="#")
							| PUERTAS
					li
						a(href="#")
							| RECAMARAS
					li
						a(href="#")
							| COCINAS
					li
						a(href="#")
							| CABECERAS
					li
						a(href="#")
							| VITRINAS
			#clear
